 <%-include('cabecalhoHome.ejs')%>
    <h1 style="text-align: center; margin-top: 20px;">Sistema de Agendamento Online para Barbearias</h1>

    <div style="text-align: center;">
        <p>Utilize o menu acima para navegar entre as seções de serviços.</p>
        <p>Selecione como deseja navegar, administrador ou cliente.</p>
    </div>
 <%-include('rodape.ejs')%>