<%-include('cabecalho.ejs')%>
    <h1 style="text-align: center; margin-top: 20px;"><i class="fas fa-store"></i> <i class="fas fa-ice-cream"></i></h1>
    <h1 style="text-align: center; margin-top: 20px;">Sistema de Gerenciamento de Empresa de Picolé</h1>

    <div style="text-align: center;">
        <p>Utilize o menu acima para navegar entre as seções de Picolés e Sabores.</p>
        <p>Adicione, edite ou remova registros conforme necessário.</p>
    </div>
 <%-include('rodape.ejs')%>