<%-include('../cabecalho.ejs')%>
    <h1>Novo Picole</h1>
    <div style="margin-bottom: 24px;">
        <a href="/picole/lst" class="btn"><i class="fas fa-arrow-left"></i> Voltar para lista de picolés</a>
    </div>
    <form method="post">
        <label>Nome do Picolé</label>
        <input type="text" name="nomePicole" placeholder="Digite o nome do picolé"><br>
        <label>Preço (R$)</label>
        <input type="number" name="precoPicole"><br>
        <label>Sabor</label>
        <select name="saborPicole" aria-placeholder="Selecione um sabor">
            <option value="Frutos Tropicais">Frutos Tropicais</option>
            <option value="Cremosos">Cremosos</option>
            <option value="Zero Açúcar">Zero Açúcar</option>
        </select>
        <label>Calorias</label>
        <input type="number" name="caloriasPicole"><br>
        <label>Ingredientes</label>
        <input type="text" name="ingredientesPicole" placeholder="Liste os ingredientes"><br>
        <button type="submit" class="btn submit">Criar</button>
    </form>

    <%-include('../rodape.ejs')%>