<%-include('../cabecalho.ejs')%>
    <h1>Novo Sabor</h1>
    <div style="margin-bottom: 24px;">
        <a href="/sabores/lst" class="btn"><i class="fas fa-arrow-left"></i> Voltar para lista de sabores</a>
    </div>
    <div>
        <form method="post">
            <label>Nome do Sabor:</label>
            <input type="text" name="nomeSabor" placeholder="Digite o nome do sabor"><br>

            <label>Descrição do Sabor:</label>
            <input type="text" name="descricaoSabor" placeholder="Descreva o sabor"><br>

            <button type="submit" class="btn submit">Criar</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>